<section class="main">

  <div class="header">
    <a href="<%= page_path('home') %>">
      <img class="header__img" src="<%= image_path('logo_white_small.png') %>"/>
    </a>
  </div>

  <section class="row">
    <div class="thumbnail col-lg-4 col-md-4">
      <h3 class="thumbnail__title">Party Like Chopin</h3>
      <p class="thumbnail__caption">
        In the 19th century, composers like Chopin and Mendelssohn performed world-class piano concerts right in people’s living rooms. We’re updating these European salons for the 21st century with intimate pop-up concerts around the city.
      </p>
    </div>
    <div class="thumbnail col-lg-4 col-md-4">
      <h3 class="thumbnail__title">Eat, Drink, Listen</h3>
      <p class="thumbnail__caption">
        We believe classical music is for everyone, so we’ve stripped out any stuffiness or pretension. Enjoy wine, food and friends while you experience an outstanding classical piano performance.
      </p>
    </div>
    <div class="thumbnail col-lg-4 col-md-4">
      <h3 class="thumbnail__title">Mingle With Musicians</h3>
      <p class="thumbnail__caption">
        You won’t find any stages at Salon 21. We break down the barriers between the audience and musicians, so you can enjoy a 45-minute concert up close and personal. Then mingle with the musicians as you expand your ideas about music.
      </p>
    </div>
  </section>

</section>