<section class="main">

  <div class="header">
    <a href="<%= page_path('home') %>">
      <img class="header__img" src="<%= image_path('logo_white_small.png') %>"/>
    </a>
  </div>

  <section class="row">
    <div class="thumbnail col-lg-12">
      <p>
        Salon 21 is a series of intimate piano concerts in unexpected places around the city. They’re modeled after 19th century salons, where famous musicians and composers performed in people’s living rooms. Salon 21 updates these historic salons for the 21st century. Imagine an evening filled with wine, food, friends, world-class music and exciting new ideas.
      </p>
    </div>
    <div class="thumbnail col-lg-4 col-md-4">
      <h3 class="thumbnail__title">Party Like Chopin</h3>
      <p class="thumbnail__caption">
        Composers like Chopin and Mendelssohn performed right in people’s living rooms. We’re bringing these salons into the 21st century with intimate pop-up concerts.
      </p>
    </div>
    <div class="thumbnail col-lg-4 col-md-4">
      <h3 class="thumbnail__title">Eat, Drink, Listen</h3>
      <p class="thumbnail__caption">
        We believe classical music is for everyone. Enjoy wine, food and friends while you experience an outstanding classical piano performance.
      </p>
    </div>
    <div class="thumbnail col-lg-4 col-md-4">
      <h3 class="thumbnail__title">Mingle With Musicians</h3>
      <p class="thumbnail__caption">
        You won’t find stages at Salon 21. We break down the barriers between audience and musicians. So you can enjoy a 45-minute concert up close then talk with the performers.
      </p>
    </div>
  </section>

</section>