<section class="main">

  <div class="header">
    <a href="<%= page_path('home') %>">
      <img class="header__img" src="<%= image_path('logo_white_small.png') %>"/>
    </a>
  </div>

  <h1 class="callout">sign up for exclusive events</h1>

  <section class="row">
    <form class="form-horizontal col-lg-4 col-lg-offset-4" role="form">
      <div class="form-group">
        <label class="col-lg-2 control-label" for="signup-form__name">name</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" id="signup-form__name" placeholder="name"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label" for="signup-form__email">email</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" id="signup-form__email" placeholder="email"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-default">Sign up</button>
        </div>
      </div>
    </form>
  </section>

  <h1 class="callout">host Salon21</h1>

  <section class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p>We're always looking for great performance spaces. Would you like to host a Salon21 event? Please contact us at <a href="mailto:bonjour@salon21.org">bonjour@salon21.org</a></p>
    </div>
  </section>
</section>
