<div class="hero">
  <div class="hero__content">
    <a class="hero__link" href="<%= page_path('about') %>">
      <img class="hero__img" src="<%= image_path('logo_white_large.png') %>"/>
    </a>
  </div>
</div>
