<div class="hero">
  <div class="hero__content">
    <a class="hero__link" href="#main">
      <img class="hero__img" src="<%= image_path('logo_white_large.png') %>"/>
    </a>

    <nav>
      <ul class="nav">
        <li class="nav__item">
          <a class="nav__link" href="#main">about</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#signup">signup</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<section class="main">
  <a name="main"></a>

  <h1 class="callout">music and beyond</h1>

  <section class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="thumbnail col-lg-4">
          <img class="thumbnail__image" src="<%= image_path('thumb1.png') %>"/>
          <h3 class="thumbnail__title">Classical roots</h3>
          <p class="thumbnail__content">
            The French word salon literally means living room, and in 17<sup>th</sup> and 18<sup>th</sup> century Europe, salons became the gathering place for artistic culture and expression. People came to salons to play music, share thoughts and enjoy conversation in an intimate setting.
          </p>
        </div>
        <div class="thumbnail col-lg-4">
          <img class="thumbnail__image" src="<%= image_path('thumb2.png') %>"/>
          <h3 class="thumbnail__title">Modern take</h3>
          <p class="thumbnail__content">
            Music was the center of salon culture, and the Piano was its principal instrument. Composers like Liszt and Chopin wrote music specifically for salons and used them to promote a more intimate music.
          </p>
        </div>
        <div class="thumbnail col-lg-4">
          <img class="thumbnail__image" src="<%= image_path('thumb3.png') %>"/>
          <h3 class="thumbnail__title">Where music is more</h3>
          <p class="thumbnail__content">
            Salon21 aims to recreate salon music in the 21<sup>st</sup> century right here in Cincinnati. Join us for a night of music, food and wine. Enjoy art and conversation with friends and family.
          </p>
        </div>
      </div>
    </div>
  </section>

  <h1 class="callout">sign up for exclusive events</h1>

  <a name="signup"></a>

  <section class="row">
    <form class="form-horizontal col-lg-4 col-lg-offset-4" role="form">
      <div class="row">
        <div class="form-group">
          <label class="col-lg-2 control-label" for="signup-form__name">name</label>
          <div class="col-lg-10">
            <input type="email" class="form-control" id="signup-form__name" placeholder="name"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label" for="signup-form__email">email</label>
          <div class="col-lg-10">
            <input type="email" class="form-control" id="signup-form__email" placeholder="email"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">Sign up</button>
          </div>
        </div>
      </div>
    </form>
  </section>

</section>